<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
{% if user %}
    <body>
        <h1>Welcome to the Chat App, {{ user }}</h1>
        <p>Choose an option below:</p>
        <a href="/chats">Your chats</a> | <a href="/logout">Logout</a>
    </body>
{% else %}
    <body>
        <h1>Welcome to the Chat App</h1>
        <p>Choose an option below:</p>
        <a href="/register">Register</a> | <a href="/login">Login</a>
    </body>
{% endif %}
</html>
